@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Personal Business Management</h1>
    <p>A big project that I'm very passionate to build. It combines most of the
    knowledge and the skills that I've been learning so far..</p>
</div>
