@model List<PersonalBusinessManagement.Models.Project>

    <div>
        @foreach (var item in Model)
        {
            <p>@item.Name</p>
            <p>@item.Description</p>
        }
    </div>