@model Project
@{
    ViewData["Title"] = "Search";
}

<h1 class="text-primary">Projects</h1>
<br /> <br />
@*<h4>Search</h4>
<hr />*@
<div class="row">
    <script>
        function checkInput() {
            var field = document.querySelector("#search").value;
            if (field.trim() == "") {
                alert("Please fill in the search field");
                return false;
            }
        }
    </script>
    <div class="col-md-4">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="Projects" asp-action="ShowSearchResults" onsubmit="return checkInput()">
            <div class="form-group">
                <label for="searchPhrase" class="control-label">Search</label>
                <input id="search" name="searchPhrase" class="form-control mb-2" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br /><br />
    <a asp-action="Index">Back to List</a>
</div>